html, body {
    max-width: 100%;
    overflow-x: hidden;
}

input {
    margin-bottom: 10px;
}

/* div {
    border-style: solid;
    border-color: #92a8d1;
  } */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    background-color: #C2B092;
    width: 90%;
    padding: 15px;
    margin-top: 10px;
    border-style: solid;
}


.kygo {
    width: auto;
    height: 100px;
}